* {
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
   text-align: center;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100%;
   background-color: rgb(169, 219, 238);
   box-shadow: 0 0 50px 5px black inset;
}

h1 {
   color: white;
   font-size: 50px;
   font-weight: 700;
   text-shadow: 1px 1px 3px black;
}

input {
   padding: 8px;
   font-size: 18px;
   border: none;
   border-radius: 15px;
}

.weather-info-cont {
   width: 90%;
   height: 40%;
   border-radius: 20px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.weather-info-cont h2 {
   text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.weather-info-cont p {
   font-weight: 600;
   text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.weather-info-cont button {
   border: none;
   border-radius: 15px;
   padding: 5px 10px;
}

.weather-info-cont button a {
   color: black;
   font-size: 15px;
}